In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
nifty_data = pd.read_csv("nifty_data.csv")
banknifty_data = pd.read_csv("banknifty_data.csv")

nifty_df = pd.DataFrame(nifty_data)
banknifty_df = pd.DataFrame(banknifty_data)

In [19]:
nifty_df.columns = nifty_df.columns.str.strip()
banknifty_df.columns = banknifty_df.columns.str.strip()
# Both data frames got columns with extra spaces so removing them
nifty_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (â‚¹ Cr)'],
      dtype='object')

In [20]:
# There is one row with null values in shares traded and turnover so removing those rows
nifty_df = nifty_df.dropna()
banknifty_df = banknifty_df.dropna()